#Dia 3
##Temario

-Listas
-Tuplas
-Sets
-Diccionarios

#Estructuras de datos
Las estructuras de datos son formas de organizar info para trabajar con ellas de manera eficiente

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no ordenados, sin duplicados
- Diccionarios -> pares clave:valor

Nota:

- Pilas (FILO -> First in, Last out)
- Colas (FIFO -> First in, First out)
- Listas enlazadas (o doblemente enlazadas)

##Listas
Las listas son colecciones ordenadas que podemos modificar y almacenan elementos de ditintos tipos de datos

In [3]:
lista_de_compras = ["manzanas","pan","leche","huevos","mantequilla","queso","jamon"]
print(lista_de_compras)
print(lista_de_compras[0])

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon']
manzanas

In [5]:
#agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras.insert(1,"platano") #agrega en una posicion especifica
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [6]:
print(lista_de_compras)

['manzanas', 'platano', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [8]:
#Para eliminar un elemnto de una lista, existe el remove y el pop
lista_de_compras.remove("platano")

ValueError: list.remove(x): x not in list

In [ ]:
lista_de_compra.pop() #Sin nada dentro del parantesis borra el ulitmo elemento
lista_de_compras.pop(7) #o puedes poner la posicion que quieras, iniciando desde 0
#Te retorna el numero eliminado

In [10]:
#Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
pan
leche
huevos
mantequilla
queso
jamon
sopa

In [11]:
#len() saca el tama√±o de la lista)
for i in range(len(lista_de_compras)):
  print(f"{i+1} - {lista_de_compras}")

1 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
2 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
3 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
4 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
5 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
6 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
7 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']
8 - ['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamon', 'sopa']

In [13]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
promedios.sort() #sort() sirve para ordenra la lista de manera ascendente
print(promedios)
#ordenar un alista de manera descendente
promedios.sort(reverse=True)
print(promedios)

[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [15]:
#Podemos ingeresar al ulitmo eleemnto de una lista
print(promedios[-1])

23.6

In [17]:
#Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [19]:
#Declaracion y uso de matrices
calificaciones = [[100,88,93],[99,56,72]]
print(calificaciones)
i=1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j=1
  for cali_j in cali_i:
    print(f"Cali {j}:{cali_j}")

[[100, 88, 93], [99, 56, 72]]

Alumno 1
Cali 1:100
Cali 1:88
Cali 1:93

Alumno 1
Cali 1:99
Cali 1:56
Cali 1:72

##Tuplas
Colecciones ordenadas pero inmutables

In [20]:
#Hagamos un programa donde guardemos fechas de nacimientos de un grupo en una tupla
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [21]:
#ES INMUTABLE
fechas.append("10/06/03")

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) #Aqui ya puedes usar los comandos basicos de una lista

##SETS
Los sets son colecciones sin orden y que no permiten elementos dupicados

In [23]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
print(nombre)
print(type(nombre))

{'Eliud', 'Angel', 'Diana', 'Juan'}
<class 'set'>

In [24]:
distintos_datos = {"Angel",1,"Diana","Juan","Juan",4.8}
distintos_datos

{1, 4.8, 'Angel', 'Diana', 'Juan'}

In [25]:
#Add
nombre.add("Leonardo")
nombre

{'Angel', 'Diana', 'Eliud', 'Juan', 'Leonardo'}

In [27]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [29]:
#Union
matutino={20322,22183,123123,53234}
vespertino={20322,11111,2222222,33333}
total_matriculas=matutino.union(vespertino)
print(total_matriculas)
total_matriculas=matutino | vespertino #union pero con |
print(total_matriculas)

{20322, 22183, 11111, 2222222, 53234, 123123, 33333}
{20322, 22183, 11111, 2222222, 53234, 123123, 33333}

In [37]:
#Interseccion
ca={1234,121,646,789}
al={1234,1,2,3,4}
ca_al = ca.intersection(al)
ca_al
#intersecicon con &
ca_al = ca & al
ca_al

{1234}

In [35]:
#Diferencia
solo_calculo = ca.difference(al)
print(solo_calculo)
solo_calcuo = ca - al
print(solo_calculo)

{121, 789, 646}
{121, 789, 646}

In [ ]:
nombre = {"Angel","Eliud","Diana","Juan","Juan"}
#remove, pop
nombre.remove("Angel") #Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)
#

In [38]:
#Eliminar todo el SET
nombre.clear()
nombre

set()

##Diccionarios
Los diccionarios osn colecciones no ordenadas de pares claves:valor

In [39]:
alumno = {
    #clave     valor
    "nombre": "Eliud Sanchez",
    "edad": 21,
    "carrera": "LCC",
    "semestre": 7,
    "promedio": 88,
    "calificaciones": [100,94,94,97,100]
}
alumno

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100]}

In [ ]:
#--------------------------------------HASTA AQUI------------

In [42]:
print("El alumno ",alumno["nombre"], "esta estudiando ",alumno["carrera"])

El alumno  Eliud Sanchez esta estudiando  LCC

In [43]:
#Agregar al diccionario
alumno["area preferida"] = "Ciencia de datos"
alumno

{'nombre': 'Eliud Sanchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'area preferida': 'Ciencia de datos'}

In [44]:
for valor in alumno:
  print(alumno[valor])

Eliud Sanchez
21
LCC
7
88
[100, 94, 94, 97, 100]
Ciencia de datos

In [45]:
for aspecto, valor in alumno.items() #devuelve una vista de todos los pares clave:valor del diccionario
print(aspecto,": ", valor)

SyntaxError: expected ':' (ipython-input-2720422171.py, line 1)

In [46]:
#el metodo .clear() tambien usar aqui
#Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Eliud Sanchez

In [47]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de datos')])
<class 'dict_items'>
[('nombre', 'Eliud Sanchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('area preferida', 'Ciencia de datos')]
<class 'list'>

In [48]:
#El metodo .values() sirve para obtener los values del diccionario
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Eliud Sanchez', 21, 'LCC', 7, 88, [100, 94, 94, 97, 100], 'Ciencia de datos'])

In [49]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")

if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [51]:
#.copy() puedes copiat todo el diccionario en una nueva variable
#Update -> Sirve para cambiar los valores (valores) (.update())
alumno.update({"semestre":6})